<div [formGroup]="group">
    <div *ngFor="let control of questionArr.controls; let i = index;">
        <select [formControl]="control" class="custom-select custom-select-sm col-7">
            <option value=""></option>
            <option *ngFor="let answer of question.answerList" value="{{answer.id}}">
                {{answer.value}}
            </option>
        </select>
        <button class="btn btn-sm btn-outline-primary col-2">追加</button>
        <button class="btn btn-sm btn-outline-success col-2">删除</button>
    </div>

</div>